@model SanctionScannerAppLibrary.Models.Entities.Category
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>  Kategori | Ekle</h2>

<div class="col-md-6">
    <form method="post">
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="Name" class="font-weight-bold">Kategori Adı (*)</label>
            <input type="text" id="Name" name="Name" class="form-control" required />
            <span class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-success">Kategori Ekle</button>
    </form>
</div>

